@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e0e10;
  --foreground: #f9f5f8;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* استایل اسکرول‌بار اختصاصی Digital Forge */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #262528;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff7afa;
}

/* حذف هایلایت آبی در موبایل */
* {
  -webkit-tap-highlight-color: transparent;
}